.header-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.brand h1{
    font-size: 1.5rem;
    font-weight: bold;
}
.lists{
    display: flex;
    justify-content: center;
    gap: 34px;
}
.list{
    list-style: none;
}




.prebook-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;
}
.left{
    max-width: 582px;
}
.left-title{
    font-size: 3.25rem;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 70px;
}
.left-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 500;
}
.prebook-btn{
    background-color: #E02C6D;
    width: 196px;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 10px 24px;
}
.prebook-camera-image{
    max-width: 475px;
    height: 475px;
    margin-top: 50px;
    align-items: center;
    background-image: url(../images/Circle-design.svg);
    background-repeat: no-repeat;
    background-position:center;
}




.company-logo{
    max-width: 1110px;
    margin: 100px 165px;
    padding: 35px 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}




.collection-card-section{
    text-align: center;
    max-width: 1047px;
    margin: 0 auto;
}
.collection-card-title{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: left;
    margin-top: 30px;
    
}
.card{
    width: 310px;
    height: 476px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 14px;
    
}
.card img{
    max-width: 100%;
}

.card-description{
    max-width: 196px;
}
.card-title{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
}
.price{
    font-size: 1.5rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;

}
.card-description{
    /* font-size: ; */
    font-weight: bold;
    color: #787885;
    line-height: 143%;
    letter-spacing: 1.8%;
}



.featured-collection{
    max-width: 1110px;
    margin: 0 auto;
}
.feature-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;

}
.image{
    border-radius: 7px;
}
.featured-text{
    max-width: 610px;
}
.featured-text-title{
    font-size: 2.35rem;
    font-weight: bold;
    line-height: 60px;
    color: #0A0826;
}
.featured-text-description{
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
}
.join-now{
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border: none;
}
footer{
    text-align: center;
    margin-top: 100px;
}
.footer-container{
    background-color: #0A0826;
    background-size: cover;
}
.footer-text{
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-text h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px;
}
.footer-text p{
    font-size: 0.9rem;
    font-weight: bold;
    color: #D9DBE1;
    line-height: 24px;
    margin: 0;
}
.hide{
    display: none;
}


/* responsive */

@media screen and (max-width:576px) {
    .header-section, 
    .lists, 
    .prebook-container,
    .feature-container{
        flex-direction: column;
        align-items: center;
        gap: 17px;
        padding: 0;
    }
    .prebook-camera-image img{
    max-width: 100%;
    margin: 0;
    padding: 0;
    
    }
    .company-logo{
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        gap: 15px;
    }
    .card-container{
        grid-template-columns: 1fr;
        /* display: flex;
        flex-direction: column; */
        margin: auto;
        align-items: center;
        justify-content: center;
        place-items: center;
        
    }
    .join-now{
        
    }

    
}