.header-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.brand h1{
    font-size: 1.5rem;
    font-weight: bold;
}
.lists{
    display: flex;
    justify-content: center;
    gap: 34px;
}
.list{
    list-style: none;
}




.prebook-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 133px;
}
.left{
    max-width: 582px;
}
.left-title{
    font-size: 3.25rem;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 70px;
}
.left-description{
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 500;
}
.prebook-btn{
    background-color: #E02C6D;
    width: 196px;
    border-radius: 41px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 10px 24px;
}
.prebook-camera-image{
    max-width: 475px;
    height: 475px;
    margin-top: 50px;
    align-items: center;
    background-image: url(../images/Circle-design.svg);
    background-repeat: no-repeat;
    background-position:center;
}
